.terraform/
*.out
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.tfstate.lock.info

# Generated Zipfile
api.zip
ui.zip
ui/rollup.config.js

# Generated private key
minecraft.pem

packages/
dist/*.zip
