[Unit]
Description=Backup Minecraft world %i
After=network-online.target

[Service]
Type=oneshot
User=minecraft
EnvironmentFile=-/etc/minecraft.env
ExecStartPre=/usr/local/bin/mcrcon -H 127.0.0.1 -P ${RCON_PORT} -p ${RCON_PASSWORD} "say Backing up world data..."
ExecStartPre=/usr/local/bin/mcrcon -H 127.0.0.1 -P ${RCON_PORT} -p ${RCON_PASSWORD} save-all
ExecStart=/usr/local/bin/backup-worlds.sh %i
