[Unit]
Description=Run DNS update check every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=dyndns.service

[Install]
WantedBy=timers.target
