[Unit]
Description=Run Minecraft idle check every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=autoshutdown.service

[Install]
WantedBy=timers.target
