[Unit]
Description=Periodic map update for world %i
PartOf=minecraft@%i.service
Requires=minecraft@%i.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min
Unit=minecraft-map-update@%i.service
Persistent=true

[Install]
WantedBy=minecraft@%i.service
